#section1{visibility: hidden; position: absolute;height: 700px; width: 600px; overflow: scroll; background-color: #CCFFFF;}
#section2{visibility: hidden; position: absolute;height: 700px; width: 600px; overflow: scroll; background-color: #99FFFF;}
h1{font-family: cursive; text-align: center;}
h2{font-family: Times New Roman; text-align: center;}
footer{position: absolute; bottom: 0; width: 600px; font-family: Lucida Grande; text-align: center;}